//Font
$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Fraunces', sans-serif;

//Colors
//Primary
$color-primary:  hsl(158, 36%, 37%);
$color-background-page:  hsl(30, 38%, 92%);

//Neutral
$color-title: hsl(212, 21%, 14%);
$color-discreet: hsl(228, 12%, 48%);
$color-background-base: hsl(0, 0%, 100%);

//Body Copy
$text-size: 14px;